logs/
.idea/
.idea_modules
/.settings
*/.settings
/.classpath
*/.classpath
/.project
*/.project
/.cache
*/.cache
/.cache-main
*/.cache-main
/.cache-tests
*/.cache-tests
target/
target-sbt
project/project/target
project/target
*.iml
core/src/main/scala/generated/
lib_managed
project/features/features.xml
.history
leveldb-*/
native/
fav-data-*/
rng-data-*/
core/rng-data-*/
.DS_Store
docs/*.log